@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;}


.APP {
    min-height:100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.heading {
    width: 100%;
    height:60vh;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}



.search_from {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

.search-bar {
    width:50%;
    border:none;
    padding:10px;
}

.recipes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.recipeName {
    font-size: 40px;
    text-shadow: 0 0 2px red;
    margin:20px 0px;
}

.btn {
    margin:10px 0px !important;
}